<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p style="text-align: center;">
        <img style="width: 150px;"  src="./assets/icon/logo.jpg"/>
      </p>
      <ion-icon slot="end" name="chatbox-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreann]="true"> 
  <div *ngFor="let post of PostsService.posts">
    <app-card [post]="post"></app-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goToHome()"  tab="tab1">
          <ion-icon class="icon-inactive" name="home-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button (click)="goToSearch()" tab="tab2">
          <ion-icon class="icon-inactive" name="search-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button (click)="goToUpload()" tab="tab3">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button (click)="goToLive()" tab="tab4">
          <ion-icon class="icon-inactive" name="heart-outline"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button (click)="goToProfile()" tab="tab5">
          <ion-icon class="icon-inactive" name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>  
    </ion-tabs>
  </ion-toolbar>
</ion-footer>